[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg,
    .venv,
    venv,
    src/third_party
per-file-ignores =
    __init__.py:F401
    tests/*:S101
max-complexity = 10
